.myLink {
    cursor: pointer;
}

/* .fixTop {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
}

.fixBottom {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
} */